body {
  color: #333536;
}

h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 48px;
}

ul {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
}